{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    <div class="row my-3">
        <div class="col">
            <table class="table table-bordered table-hover">
                <tr class='text-center thead-light'>
                    <th style="text-align: center">글 번호</th>
                    <th style="text-align: center">조회수</th>
                    <th style="text-align: center">글 제목</th>
                    <th style="text-align: center">작성자</th>                
                    <th style="text-align: center">작성일</th>
                </tr>
                {% for row in board_rows %}
                <tr>
                    <td class='text-center'>{{ row[0] }}</td>             
                    <td class='text-center'>{{ row[4] }}</td>   
                    <td><a href="{{ url_for('board_view', board_id=row[0] ) }}">{{ row[2] }}</a></td>
                    <td class='text-center'>{{ row[1] }}</td>
                    <td class='text-center'>{{ row[3] }}</td>
                </tr>
                {% endfor %}
            </table>        
        </div>
    </div>
    <div class="row my-3">
            <div class="col-4 text-center">
                <form class="form-inline" method="GET">
                    <input type="search" class="form-control" name="keyword">
                    <input type="submit" class="btn btn-default mx-2" value="검색"></button>
                </form>
            </div>
            <div class="col-6 text-center">
                <ul class="pagination" id='board_pagination'>
                    <li class="page-item"><a class="page-link" href="{{ url_for('board_list', page=pageNum-1) }}"><<</a></li>
                    {% for pn in pageNumList %}
                    <li class="page-item {% if pn==pageNum %}active{% endif %}"><a class="page-link" href="{{ url_for('board_list', page=pn) }}">{{ pn }}</a></li>
                    {% endfor %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('board_list', page=pageNum+1) }}">>></a></li>
                </ul>                
            </div>            
            <div class="col-2 text-center">
                {% if u_name %}
                <a class="btn btn-default mx-2" href="{{ url_for('board_post') }}" >글 등록</a>
                {% endif %}
            </div>
        </div>
</body>

