{% include 'head.html' %}
<body>
    <div class="container">
        {% include 'header.html' %}
        {% include 'nav.html' %}
        <div class="row my-3">
            <div class="col">
                <h2 class="text-center py-3">게시판 글 보기 페이지</h2>
    
                <form class="form" id="boardPostForm" method="POST" action="{{ url_for('board_post') }}">
                    <div class="form-group">
                        <label for="b_id">글번호:</label>
                        <input type="text" class="form-control" id="b_id" placeholder="Enter 글번호" name="b_id" value="{{ board_view[0] }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="u_id">작성자:</label>
                        <input type="text" class="form-control" id="u_id" placeholder="Enter 작성자" name="u_id" value="{{ board_view[1] }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" value="{{ board_view[2] }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="content">Content:</label>
                        <textarea class="form-control" id="content" placeholder="10자 이상 입력해 주세요." name="content" readonly rows="8">{{ board_view[3] }}</textarea>
                    </div>                
                    <div class="form-group">
                        <label for="add_dt">Add datetime:</label>
                        <input type="text" class="form-control" id="u_name" min="1900" max="2100" name="add_dt" value="{{ board_view[4] }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="upd_dt">Update datetime:</label>
                        <input type="text" class="form-control" id="u_name" min="1900" max="2100" name="upd_dt" value="{{ board_view[5] }}" readonly>
                    </div>
                    
                    <div class="form-group text-center">
                        {% if u_id==board_view[1] %} {# 현재 세션의 유저와 가져온 게시글의 유저가 같은 경우 #}
                        <a href="{{ url_for('board_update', board_id=board_view[0]) }}" class="btn btn-default mx-2 text-center">게시판 글 수정</a>
                        <a href="{{ url_for('board_delete', board_id=board_view[0]) }}" class="btn btn-default mx-2 text-center">게시판 글 삭제</a>
                        {% endif %}
                        <a href="{{ url_for('index') }}" class="btn btn-primary mx-2 text-center">이전 화면</a>
                    </div>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>