{% include 'head.html' %}
<body>
        <div class="container">
                <h2 class="titleArea" style="color:pink;">JOIN</h2>
            <form onsubmit="return validateForm()" class="form-horizontal myform" action="https://www.w3schools.com/action_page.php" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id">ID</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="id" name="id" placeholder="Enter ID">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pw">PW</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="pw" name="pw">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pw2">PW Confirm</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="pw2" name="pw2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Enter name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="radio-inline col-sm-offset-2">
                        <input type="radio" class="gender" name="gender">Female
                        </label>
                        <label class="radio-inline">
                        <input type="radio" class="gender" name="gender">Male
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Birthday</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="date" type="date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="email" id="email" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tel">Tel</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="tel" id="tel" name="tel">
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control" name="live">
                        <option value="noSelect">선택안함</option>
                        <option value="seoul">서울특별시</option>
                        <option value="incheon">인천광역시</option>
                        <option value="busan">부산</option>
                        <option value="jeonju">전주</option>
                        <option value="jeju">제주</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="SNS"> SNS Inform</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" type="submit">JOIN</button>
                    </div>
                </div>  
            </form>
        </div>

        {%  include 'footer.html' %}

        <script>
            function validateForm(){
                var id = $("#id").val();
                console.log(id);
                if(id == ""){
                    alert("아이디를 입력해주세요");
                    $("#id").focus();
                    return false;
                }
            }
        </script>

</body>
