<nav class="navbar navbar-inverse" style="margin-bottom: 10px;">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active home"><a href="/">HOME</a></li>
            <li><a href="{{ url_for('dailylook') }}">DailyLook</a></li>
            <li><a href="{{ url_for('top') }}">Top</a></li>
            <li><a href="{{ url_for('skirt') }}">Skirt</a></li>
            <li><a href="{{ url_for('bag') }}">Bag</a></li>
            <li><a href="{{ url_for('acc') }}">Acc</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('user_signup') }}">JOIN</a></li>
            <li><a href="{{ url_for('board_post') }}">QnA</a></li>
            <li><a href="/board/">board</a></li>
        </ul>
        </div>
    </div>
</nav>