{% include 'head.html' %}
<body>
        <div class="container">
                <h2 class="titleArea" style="color:pink;">User Update</h2>
            <form onsubmit="validateForm()" class="form-horizontal" id="updateForm" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pw">PW</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="pw" name="pw" value="{{ user_info[3] }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pw2">PW Confirm</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="pw2" name="pw2" value="{{ user_info[3] }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Enter name" value="{{ user_info[4] }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="radio-inline col-sm-offset-2">
                        <input type="radio" class="gender" name="gender" value="F" {% if user_info[5] == 'F' %}checked{% endif %}>Female
                        </label>
                        <label class="radio-inline">
                        <input type="radio" class="gender" name="gender" value="M" {% if user_info[5] == 'M' %}checked{% endif %}>Male
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Birthday</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="date" type="date" placeholder="Enter Your Birthday" value="{{ user_info[6] }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Enter Your Email" value="{{ user_info[2] }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tel">Tel</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="tel" id="tel" name="tel" placeholder="Enter Your Tel" value="{{ user_info[7] }}">
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control" name="live">
                        <option value="noSelect" {% if user_info[8] == 'noSelect' %} selected {% endif %}>선택안함</option>
                        <option value="seoul" {% if user_info[8] == 'seoul' %} selected {% endif %}>서울특별시</option>
                        <option value="incheon" {% if user_info[8] == 'incheon' %} selected {% endif %}>인천광역시</option>
                        <option value="busan" {% if user_info[8] == 'busan' %} selected {% endif %} >부산</option>
                        <option value="jeonju" {% if user_info[8] == 'joenju' %} selected {% endif %}>전주</option>
                        <option value="jeju" {% if user_info[8] == 'jeju' %} selected {% endif %}>제주</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="SNS" {% if user_info[8] == 'Y' %}checked{% endif %}> SNS Inform</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="add_dt">Add datetime:</label>
                    <input type="text" class="form-control" id="u_name" min="1900" max="2100" name="add_dt" value="{{ user_info[10] }}" readonly>
                </div>
                <div class="form-group">
                    <label for="upd_dt">Update datetime:</label>
                    <input type="text" class="form-control" id="u_name" min="1900" max="2100" name="upd_dt" value="{{ user_info[11] }}" readonly>
                </div>
                <div class="form-group text-center">                        
                    <button type="submit" class="btn btn-default my-3 mx-2">회원 정보 수정 저장</button>
                    <a href="{{ url_for('user_leave') }}" class="btn btn-default mx-2 text-center">회원 탈퇴</a>
                    <a href="{{ url_for('user_profile') }}" class="btn btn-default mx-2 text-center">이전 화면</a>
                </div>
            </form>
        </div>

        {%  include 'footer.html' %}
       
    <script>
        function validateForm(){
            var pw = document.getElementById("pw").value;
            var pw2 = document.getElementById("pw2").value;
            if(pw != pw2){
                    alert("패스워드가 일치하지 않습니다.");
                    document.getElementById("pw2").focus();
                    return false;
                }
            var name = document.getElementById("name").value;
            if(name == ""){
                alert("이름을 입력해주세요.");
                document.getElementById("name").focus();
                return false;
            }
            var gender = document.getElementsByClassName("gender");
                var female = gender[0].checked;
                var male = gender[1].checked;
                if(female == false && male == false){
                    alert("성별을 선택해주세요.");
                    return false;
                }
                var tel = document.getElementById("tel").value;
                if(tel == ""){
                    alert("전화번호를 입력해주세요.");
                    document.getElementById("tel").focus();
                    return false;
                }
        }
    </script>

</body>
