{% include 'head.html' %}
<body>
        <div class="container">
                <h2 class="titleArea" style="color:pink;">JOIN</h2>
            <form class="form-horizontal" id="signupForm" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id">ID</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="id" name="id" placeholder="Enter ID" value="{{ user_info[1] }}" readonly>
                    </div>
                </div> 
                <!--                 <div class="form-group">
                    <label class="control-label col-sm-2" for="pw">PW</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="pw" name="pw">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pw2">PW Confirm</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="pw2" name="pw2">
                    </div>
                </div>
                -->

                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Enter name" value="{{ user_info[4] }}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="radio-inline col-sm-offset-2">
                        <input type="radio" class="gender" name="gender" value="F" readonly {% if user_info[5] == 'F' %}checked{% endif %}>Female
                        </label>
                        <label class="radio-inline">
                        <input type="radio" class="gender" name="gender" value="M" readonly {% if user_info[5] == 'M' %}checked{% endif %}>Male
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Birthday</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="date" type="date" placeholder="Enter Your Birthday" value="{% user_info[6] %}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Enter Your Email" value="{% user_info[2] %}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tel">Tel</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="tel" id="tel" name="tel" placeholder="Enter Your Tel" value="{% user_info[7] %}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control" name="live">
                        <option value="noSelect">선택안함</option>
                        <option value="seoul">서울특별시</option>
                        <option value="incheon">인천광역시</option>
                        <option value="busan">부산</option>
                        <option value="jeonju">전주</option>
                        <option value="jeju">제주</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="SNS" value="O" {% if user_info[8] == 'O' %}checked{% endif %}> SNS Inform</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="add_dt">Add datetime:</label>
                    <input type="text" class="form-control" id="u_name" min="1900" max="2100" name="add_dt" value="{{ user_info[9] }}" readonly>
                </div>
                <div class="form-group">
                    <label for="upd_dt">Update datetime:</label>
                    <input type="text" class="form-control" id="u_name" min="1900" max="2100" name="upd_dt" value="{{ user_info[10] }}" readonly>
                </div>
                <div class="form-group text-center">
                    <a href="{{ url_for('user_update') }}" class="btn btn-primary mx-2 text-center">회원 정보 수정</a>
                    <a href="{{ url_for('index') }}" class="btn btn-primary mx-2 text-center">이전 화면</a>
                </div>
            </form>
        </div>

        {%  include 'footer.html' %}
       

</body>
