body {
    background: #f7effc;
}


form {
    width: 700px;
    margin: 0 auto;
}

.titleArea h2 {
    display: inline-block;
    border: 3px solid black;
    padding: 4px 4px;
    
}

table{
    border : 1px solid gray;
    border-collapse: collapse;
    width : 72%;
    height: 50%;
    text-align: center;
}
textarea {
    border : 1px solid gray;
}

td, th {
    border: 2px solid black;
    padding: 0;
}

tr {
    height: 40px;
}

.content {
    border: 0;
    resize: none;
    margin-top: 5px;
}

.wrapper {
    position: relative;
}

.enrol {
    position: absolute;
    left: 220px;
    margin-top: 40px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
}