body {
    background-color: #f7effc;
}

#icon {
    width: 50px;
    height: 50px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color: white;
    border: 3px solid black;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    background-color: #f7effc;
  }


  .arrow {
    background-image : linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%)
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }